/DevSource/MSJO/base64 encode decode 
/CSharp/MvvmExam/MvvmUI/MvvmUI.csproj.user
/WPF/WpfApp1/WpfApp1/WpfApp1.csproj.user
/CSharpWebAPI/DotnetRPG/.vscode
/CSharpWebAPI/DotnetRPG/bin
/CSharpWebAPI/DotnetRPG/obj
/WPF/WPF_Exam/.vs
/WPF/WPF_Exam/WPFApp/bin
/WPF/WPF_Exam/WPFApp/obj
/WPF/HelloMVVM/.idea
/WPF/HelloMVVM/.vs
/WPF/HelloMVVM/_ReSharper.Caches
/WPF/HelloMVVM/FirstWPF/bin
/WPF/HelloMVVM/FirstWPF/obj
/WPF/HelloMVVM/FirstWPF/FirstWPF.csproj.user
/WPF/MvvmExample/.vs
/WPF/MvvmExample/MvvmExample/bin
/WPF/MvvmExample/MvvmExample/obj
